code {
  background: $gray-100;
  // color: $pink-900;
  border-radius: 5px;
  padding: 0.125rem;
}

code, .code, pre code, .highlight pre {
  font-family: inconsolata,Menlo,Monaco,courier new, monospace!important;
}
pre, .pre  {
  overflow-y: hidden;
}

pre code {
  display: block;
  padding: 1.5em 1.5em;
  white-space: pre;
  font-size: .875rem;
  line-height: 2;
  border-radius: 0;
}

pre {
  background-color: transparent!important;
  color: #ddd;
  white-space: pre;
  hyphens: none;
  position: relative;
}

pre {
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: auto;
}

pre[class*="language-"] {
  padding: 0;
}

pre code {
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  // background: white;
  // background-color: $gray-900!important;
  // background: black;
}

.click-to-copy {
  text-align: end;
  padding: 0.225rem;
  background: $body-tertiary-bg;
}
