<nav class="db dt-ns mw8 center w-100 pv0 pv1-ns ph1" role="navigation">
  <div class="flex flex-l justify-between items-center center">
    <a href="{{ .Site.BaseURL }}" class="f3 fw2 ph1 ph2-ns no-underline dib">
      {{ with .Site.Params.site_logo }}
        <img src="{{ relURL . }}" class="w100 mw3-ns logo v-top" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <span class="f3 pointer dn db-l"><a href="{{ .Site.BaseURL }}" class="no-underline dib link dim black-80">{{ .Site.Title }}</a></span>
    <div class="td-search flex-l flex-grow-1 justify-end ph2 ph4-ns">
      <div class="td-search--algolia" id="docsearch-0"></div>
    </div>
    <div class="flex items-center">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
            <a class="hover-gray-50 no-underline black-90" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
</nav>

{{ if and .Site.Params.search (isset .Site.Params.search "algolia") -}}
  {{ template "algolia/scripts" .Site.Params.search.algolia -}}
{{ end -}}
