{{ define "header" }}
{{/* We can override any block in the baseof file be defining it in the template */}}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
{{ $data := getJSON "https://gist.githubusercontent.com/huxulm/5bcd18c5f521f44be7510a15c12af1c9/raw/2a69563b97bf701f56aeb520ec1842a84b511b56/books.json" }}
<article class="w-100 ph4 pb5 pb6-ns pt1 pt5-ns mw8-ns ml-auto mr-auto">
  <div class="flex-con flex-gap2">
    {{ range $data }}
    <div class="flex">
      <a class="f3 no-underline bb bw1 pb1" href="{{ .url }}">《{{ .title }}》</a>
      {{ partial "svg/douban.svg" (dict "size" 16) }}
    </div>
    {{ end }}
  </div>
</article>
{{ end }}
